<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Stukkenparser</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pygments.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css')}}">

  </head>
  <body>
    <div class="container">
      <div class="eight columns offset-by-two">
        <section class="header">
          <h2 class="title">Stukkenparser</h2>
        </section>
      </div>

      <div class="preface eight columns offset-by-two">
        <div class="row">
          <p>Voer het documentnummer in van het stuk dat je wil parsen. Een documentnummer heeft de
            vorm <code><i>kst</i>-&lt;<i>dossier</i>&gt;-&lt;<i>hoofdstuk</i>&gt;-&lt;<i>nummer</i>&gt;</code> of <code><i>stb</i>-&lt;<i>jaar</i>&gt;-&lt;<i>editie</i>&gt;</code></p> 
          <div class="input">
            <form action="{{url_for('index')}}" method="post">
              <div class="row u-full-width">
                <input class="input-field" type="text" placeholder="Dossiernummer" value="{{ query }}" name="query" id="stuk">
              </div>
              <div class="buttons row u-full-width">
                <input type="submit" class="button-primary" value="Parse">
                {% if invalid %}
                <div class="container">
                  Geen document met nummer <i>{{ query }}</i> gevonden. Probeer iets in de geest van <i>kst-35470-A-1</i>.
                </div>
                {% endif %}

                {% if parsed %}
                    <a class=button button-primary href="{{ url_for('download', doc_id=query) }}">Download</a>
                {% endif %}
              </div>
            </form>
          </div>
        </div>
      </div>


      {% if xml %}
      <div class="highlight row twelve columns">
        <pre><code>{{xml|safe}}</code></pre>
      </div>
      {% endif %}
    </div>
  </body>
</html>
